html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color:rgb(42, 42, 43) ;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(193, 195, 196);
  font-size: 25px;
}
canvas {
  display: block;
  border-radius: 25px;
}
